.ButtonHeader {
  position: relative;
  & > svg > path {
    fill: rgb(89, 153, 33);
  }
  .button-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .button-icon {
    svg {
      path {
        color: white;
      }
    }
  }
}
.ButtonHeader:hover {
  & > svg > path {
    fill: transparent;
  }
  .button-icon {
    svg {
      path {
        fill: #599921;
      }
    }
  }
}
