.Menu__Button {
  a {
    padding: 15px 24px;
    transition: 0.25s;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #6d6d6d;
  }
  a:hover {
    background-color: #599921;
    color: #fff;
  }
  .active {
    background-color: #599921;
    color: #fff;
  }
}
