.AboutUs {
  margin: 0 auto 50px;
  width: 90%;
  p {
    line-height: 1.5em;
    font-size: 22px;
    outline: none;
    color: #6d6d6d;
    margin-bottom: 0;
    font-weight: 200;
    vertical-align: baseline;
    text-align: start;
  }
}
.head {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  .head__tom {
    color: #599921;
    padding-left: 10px;
  }
}
.AboutUs__content {
  display: flex;
  justify-content: space-between;

  .content__text {
    margin: 50px auto;
    width: 50%;
    font-size: 14px;
  }
  .content__img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.youtube {
  display: flex;
  justify-content: center;
  height: 400px;
  iframe {
    width: 90%;
    height: 100%;
  }
}
@media (max-width: 767px) {
  .AboutUs__content {
    flex-direction: column;
    .content__text {
      margin: 50px auto;
      width: 100%;
      font-size: 14px;
    }
    .content__img {
      &:first-child{
        display: none;
      }
      width: 100%;
    }
  }

}
