.AboutUs {
  margin: 50px auto;
  width: 90%;
  p{
    line-height: 1.5em;
    font-size: 22px;
    outline: none;
    color: #6D6D6D;
    margin-bottom: 0;
    font-weight: 200;
    vertical-align: baseline;
    text-align: start;
  }
}
.head {
  margin: 50px;
  display: flex;
  justify-content: center;
  .head__tom {
    color: #599921;
    padding-left: 10px;
  }
}
.AboutUs__content {
  display: flex;
  justify-content: space-between;
  

  .content__text {
    margin: 50px auto;
    width: 50%;
    font-size: 14px;
    
  }
  .content__img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.youtube{
  display: flex;
  justify-content: center;
  height: 600px;
 iframe{
width: 90%;
height: 100%;
 }
  
}