.Card {
  width: 300px;
  height: 470px;
  padding: 10px 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;

  &:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    img {
      transform: scale(1.1);
    }
  }

  &__img {
    img {
      transition: 0.5s;
      height: 300px;
      width: 100%;
    }
  }
  &__title {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    div:first-child:hover {
      color: #599921;
    }
  }
  &__description {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 15px;
    color: #6d6d6d;
    text-align: left;
  }
}
