.Card {
  width: 300px;
  min-height: 470px;
  padding: 10px 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;

  &__favorite {
    display: flex;
    justify-content: flex-end;
  }
  &:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    img {
      transform: scale(1.1);
    }
  }

  &__img {
    img {
      transition: 0.5s;
      height: 300px;
      width: 100%;
    }
  }
  &__title {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    div:first-child:hover {
      color: #599921;
    }
  }
  &__description {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 15px;
    color: #6d6d6d;
    text-align: left;
    margin-bottom: 15px;
  }
  &__controls {
    display: flex;
    justify-content: space-between;
    &>div {
      display: flex;
      align-items: center;
      .decrement,
      .increment {
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: 0.25s;
        font-size: 18px;
        font-weight: 700;
        color: #2d2c2c;
        background-color: #f5f5f5;
        border-radius: 5px;
        border: none;
        &:hover {
          background-color: #599921;
          color: #fff;
        }
      }
      div {
        width: 35px;
        height: 26px;
        font-weight: 500;
        color: #2d2c2c;
        text-align: center;
        font-size: 16px;
      }
    }
    &>button{
      color: #fff;
      background: #599921;
      border: 2px solid #599921;
      border-radius: 6px;
      padding: 10px 20px;
      transition: 0.3s;
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      cursor: pointer;
      &:hover{
        background: #fff;
        color: #599921;
      }
    }
  }
}
