.Card {
  width: 300px;
  max-height: 470px;
  padding: 10px 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
  &__modal {
    display: flex;
    align-items: center;
    justify-content: center;
    .paper {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 25px;
      width: 700px;
      min-height: 400px;
      background-color: white;
      border-radius: 5px;
      box-shadow: 0px 0px 15px 3px rgba(53, 54, 52, 0.26);
      &__title {
        text-align: center;
        font-size: 28px;
        font-weight: 700;
        line-height: 1.2em;
        color: #2d2c2c;
      }
      & > div:last-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 75%;
        .paper__img {
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 250px;
            height: 90%;
          }
        }
        .paper__desc {
          height: 80%;
          max-width: 350px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          span {
            font-size: 20px;
            font-weight: 700;
            margin-right: 15px;
          }
          div {
            font-size: 16px;
            font-weight: 600;
            color: rgb(59, 59, 59);
          }
          .paper__price {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
  &__favorite {
    display: flex;
    justify-content: flex-end;
  }
  &:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    img {
      transform: scale(1.1);
    }
  }

  &__img {
    img {
      transition: 0.5s;
      height: 300px;
      width: 100%;
    }
  }
  &__title {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    div:first-child:hover {
      color: #599921;
    }
  }
  &__description {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 15px;
    color: #6d6d6d;
    text-align: left;
    margin-bottom: 15px;
  }
  &__controls {
    display: flex;
    justify-content: space-between;
    & > div {
      display: flex;
      align-items: center;
      .decrement,
      .increment {
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: 0.25s;
        font-size: 18px;
        font-weight: 700;
        color: #2d2c2c;
        background-color: #f5f5f5;
        border-radius: 5px;
        border: none;
        &:hover {
          background-color: #599921;
          color: #fff;
        }
      }
      div {
        width: 35px;
        height: 26px;
        font-weight: 500;
        color: #2d2c2c;
        text-align: center;
        font-size: 16px;
      }
    }
    & > button {
      color: #fff;
      background: #599921;
      border: 2px solid #599921;
      border-radius: 6px;
      padding: 10px 20px;
      transition: 0.3s;
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      cursor: pointer;
      &:hover {
        background: #fff;
        color: #599921;
      }
    }
  }
}

@media (max-width: 767px) {
  .Card__modal {
    .paper {
      width: 80%;
      & > div:last-child {
        flex-direction: column;
        .paper__img {
          display: none;
        }
      }
    }
  }
}
