.contact {
  margin: 50px auto;
  width: 90%;
 
  .head {
    margin: 50px;
    display: flex;
    justify-content: center;
    font-size: 24px;
    
    .contact__head {
      padding-left: 10px;
      color: #599921;
    }
  }
 
  .contact__cards{
    display: flex;
    justify-content: space-around;
 align-items: center;
 
  }
  h1{
    width: 25%;
    text-align: center;
    
  }
  h2{
    font-size: 42px;
  }
  p{
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .contact .contact__cards {
    display: none;}
}