.contact{
  margin: 50px auto;
  width: 90%;
  
}
.head{
  margin: 50px;
  display: flex;
  justify-content: center;
  font-size: 24px;
line-height: 1.2em;
}
.contact__head{
  padding-left: 10px;
  color: #599921;
}