.Contact__card{
  padding: 20px 30px;
height: 260px;
width: 25%;
border-radius: 6px;
background-color: #afabab21;

.contact__img{
  width: 30px;
 height: 40px;
 display: inline-block;
 vertical-align: top;
 margin-right: 30px;
 width: 30px;
 text-align: center;
 position: relative;
 top: 6px;
  

}
.contact__line {
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
.text {
  padding-left: 10px;
  width: 60%;
  .contact__text {
    font-weight: bold;
    font-size: 18px;
  }
  .contact__text__two {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }
}
}