.Footer {
  height: 150px;
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;

  .Footer_component {
    background-color: white;
    width: 25%;
    h1,
    h2,
    p {
      font-family: Arial;
      font-size: 16px;
    }

    h1:hover {
      color: rgb(89, 153, 33);
    }
    a {
      text-decoration: none;
      color: black;
      font-family: Arial;
    }
    a:hover {
      color: rgb(89, 153, 33);
    }
    .left-ul {
      padding: 10px 15px;
      height: 80px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
.phone,
.clock {
  display: flex;
  justify-content: space-around;
}
.adress {
  display: flex;
  justify-content: space-around;
}
#clock_button {
  padding-left: 13px;
}
#facebook_button {
  margin-right: 15px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
#instagram_button {
  margin-left: 15px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
.Footer_component_folove {
  height: 150px;
  width: 25%;
  display: flex;
  justify-content: space-around;

  .logo {
    display: flex;
    justify-content: space-between;
  }
}
