.Footer {
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .Footer_component {
    background-color: white;
    width: 25%;
    h1,
    h2,
    a,
    p {
      font-family: Arial;
      font-size: 16px;
      color: black;
    }

    a:hover {
      color: rgb(89, 153, 33);
    }

    .left-ul {
      padding: 10px 15px;
      height: 80px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
.phone,
.clock {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.adress {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#adress_button {
  padding: 10px;
  margin-top: -55px;
}
#clock_button {
  padding-left: 13px;
  padding-top: 10px;
}
#facebook_button {
  margin: 5px;
}
#instagram_button {
  margin: 5px;
}
.Footer_component_folove {
  height: 150px;
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 8px;
  padding-left: 50px;
  box-sizing: border-box;
  .logo {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .Footer {
    flex-wrap: wrap;
    .Footer_component {
      width: 300px;
    }
    .Footer_component_folove {
      width: 300px;
    }
  }
}
@media (max-width: 480px) {
  .Footer {
    flex-direction: column;
    align-items: center;
    .Footer_component {
      &:first-child {
        display: none;
      }

      text-align: center;
      #adress_button {
        padding: 25px;
      }
    }
    .Footer_component_folove {
      align-items: center;
      padding: 0;
    }
  }
  .Footer_component {
    width: 100%;
  }
}
