.Oferta {
  width: 80%;
  font-size: 18px;
  color: #6d6d6d;
  margin-bottom: 20px;
  line-height: 1.5em;
}
.simple_page_text {
  width: 90%;
  margin: auto;
  align-items: center;

  p {
    font-size: 18px;
    line-height: 1.2em;
    color: #6d6d6d;
  }
}
